.techTitles {
    color: #667eea;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
}

.listItems {
    font-family: 'Amatic SC', cursive;
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.bottom {
    position: relative;
    float: right;
    margin-top: -763px;
    margin-right: 18%;
    width: 15%;
}

@media only screen and (max-width: 900px) {
    .bottom {
        top: 763px;
        left: 62px;
        width: 100%;
        margin-bottom: 20px;
    }
}