.profileImage {
    margin-top: 30%;
    margin-left: -10%;
    height:330px;
    border-radius: 50%;
    box-shadow: 0 4px 15px 0 rgba(255, 255, 255, 0.75);
}

.underImageInfo {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

@media only screen and (max-width: 900px) {
    .profileImage {
      height: 300px;
      margin-left: 20px;
    }

    .underImage {
        position: absolute;
        left: 10px; 
    }
  }