.contactInfo {
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 75px;
    text-align: center;
}

#resume {
    color: #84fab0;
}

#contactIcons {
    font-size: 50px;
    margin: 15px;
    color: white;
    text-align: center;
    margin-left: 20%;
}

#contactIcons:hover {
    color: #84fab0;
}

@media only screen and (max-width: 900px) {
    #contactIcons {
        margin-left: 40px;
    }

    #email {
        font-size: 35px;
    }

    .contactInfo {
        font-size: 55px;
    }

    #number {
        font-size: 65px;
    }
}